* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Ubuntu;
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.99em;
}
