html {
  background-color: rgb(15, 62, 15);
  color: darkorange;
}
html, body {
  height: 100vh;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

h1 {
  filter: drop-shadow(2px 2px 8px orange);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2.3em;
  position: relative;
  bottom: 30px;
  left: 10px;
}

p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2.7em;
  color: rgb(28, 76, 222);
  filter: drop-shadow(1px 1px 9px blue);
}
