/* }|{ Default styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Ubuntu, sans-serif;
}

body {
  height: 100vh;
}

/* }|{ Todo List styling */

body {
  background-image: linear-gradient(to right top, rgba(40, 56, 62, 0.689), rgba(88, 188, 227, 0.788));
}

#title {
  padding-top: 30px;
  text-align: center;
  font-size: 3.4rem;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
}

.input-container {
  text-align: center;
  padding: 50px 30px;
}
.input-container input {
  font-family: 'Noto serif', serif;
  width: 350px;
  height: 50px;
  padding: 7px 5px;
  font-size: 1.5rem;
  border: none;
  font-style: italic;
  margin-right: 10px;
  /* border-radius: 4px; */
}
.input-container input:focus {
  border: none;
  outline: 3px solid skyblue;
}
.input-container button {
  border: none;
  padding: 10px 18px;
  font-size: 1.5rem;
  border-radius: 4px;

  cursor: pointer;
  transition: .3s;
}
.input-container button:hover {
  background-color: rgb(27, 127, 166);
  color: rgb(118, 207, 242);
}
.input-container button:active {
  outline: 2px solid rgb(103, 202, 234);
}

.wrapper {
  padding: 0 10px;
}

.todo-container {
  max-width: 1180px;
  margin: 0 auto;
  border: 2px solid rgba(109, 109, 109, 0.767);
}

.todo-task {
  display: flex;
  align-items: center;

  color: #fff;
  
  padding: 10px 5px;
  border-bottom: rgb(111, 82, 87) 2px solid;
  background-image: linear-gradient(to left, rgb(194, 143, 150), rgb(215, 136, 173));
  
}
.todo-task:last-child {
  border-bottom: none;
}
.todo-task .todo-text {
  font-size: 1.7rem;
  flex-grow: 5;
  text-align: center;
}
.todo-task:hover .todo-text {
  filter: none !important;
}
.todo-task button {
  width: 135px;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  margin-right: 5px;
  padding: 5px 15px;
  background-color: rgb(154, 154, 154);
  transition: .2s;
  cursor: pointer;
}
.todo-task .todo-check:hover {
  background-color: rgb(28, 93, 151);
  outline: 1px solid #fff;
  color: rgb(118, 207, 242);
}
.todo-task .todo-del:hover {
  background-color: #971313;
  outline: 1px solid #fff;
  color: rgb(242, 118, 118);
}
